html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

iframe {
  width: 100%;
}

.botui-app-container {
  margin-top: 40px;
}

.botui-container {
  background-color:#fff;
}
.botui-message-content {
  color: #FFFFFF;
  background-color: #e30613;
}

.botui-message-content.human {
  background-color: #3498DB;
}

.botui-actions-text-input {
  color: #000;
  border-bottom: 1px solid #3498DB;
}

.botui-actions-buttons-button {
  line-height: 1 !important;
  background-color: #3498DB;
}

.botui-message-content-link {
  color: #F1C40F;
}
.botui-actions-container{
  position: fixed;
  bottom: 0;
}
.botui-actions-text-input {
  border-color: black;
}
